<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
	<bean id="restaurantBean" class="com.example.springstarter.Restaurant">
		<property name="hotDrink" ref="teaBean"></property>
		<property name="welcomeNote" value="${welcomeNote}"></property>
	</bean>
 	<bean id="teaBean" class="com.example.springstarter.Tea"></bean>
 	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
 		<property name="Locations">
 			<value>classpath:application.properties</value>
 		</property>
 	</bean>
 	</beans> 